services:


  api-service:
    image: ghcr.io/enkisilicium/api-service:v.1.0.0
    depends_on:
      - postgres
      - kafka
    environment:
      PG_URL: ""                    
      PG_HOST: "postgres"
      PG_PORT: "5432"
      PG_USER: "app"
      PG_PASSWORD: "app"
      PG_DB: "app"
      DB_SCHEMA: "public"

      KAFKA_BROKER_HOSTNAME: "kafka"
      KAFKA_CLIENT_ID: "api-service"
      KAFKA_CONSUMER_GROUPID: "api-service"


    ports:
      - "3002:3002"
    restart: unless-stopped

  booking-service:
    image: ghcr.io/enkisilicium/booking-service:v.1.0.1

    depends_on:
      - postgres
      - kafka
    
    environment:
      PG_URL: ""                    
      PG_HOST: "postgres"
      PG_PORT: "5432"
      PG_USER: "app"
      PG_PASSWORD: "app"
      PG_DB: "app"
      DB_SCHEMA: "public"
      KAFKA_CLIENT_ID: "booking-service"
      KAFKA_CONSUMER_GROUPID: "booking-service"

      KAFKA_BROKER_HOSTNAME: "kafka"
      

    ports:
      - "3001:3001"
    restart: unless-stopped
    
  postgres:
    image: postgres:16-alpine
    container_name: pg-test
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U app -d app']
      interval: 5s
      timeout: 3s
      retries: 20
    # comment out the volume if you want the data to vanish on container removal
    volumes:
      - pgdata:/var/lib/postgresql/data

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zk-test
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ALLOW_ANONYMOUS_LOGIN: yes
    ports:
      - '22181:2181'

  kafka:
    image: bitnami/kafka:3.9.0-debian-12-r13
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_HOSTNAME_ID: 1
      KAFKA_BROKER_ID: 1

      # Two listeners: one for internal containers, one for host
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: '1'
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: '1'
    ports:
      - '9092:9092'

  dozzle:
    image: amir20/dozzle:latest
    ports: ["8085:8080"]
    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - '8080:8080'
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka

volumes:
  pgdata:
